html {
  scroll-behavior:smooth;
}

footer {
  border-top: 1px solid yellow;
  color: white;
  background: rgb(255, 255, 255) !important;
}

footer a {
  color: turquoise;
}

.title {
  color: white;
  font-weight: 800;
  font-size: 4rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

.subtitle {
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

.hero {
  background: #20222E;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  border-top: 10px solid #000;
}


.stencil {
  background-color: lightgray;
  mix-blend-mode: screen;
	text-shadow:1px 1px 1px #000;
  text-transform:uppercase;
  display:inline-block;
  padding:10px;
  color:#000;
}

/*.darken {
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,.7));
  display:inline-block;
} */


.content-chevron::before {
  content:"➡";
  margin-left:15px;
  font-style:none;
}

section .content {
  background: rgba(0, 0, 0, 0.4);
  border-left:5px solid #fff;
  color:#fff;
  padding:.5rem;
}

.content a {
  color:turquoise;
}

.content a:hover {
  text-decoration:underline;
}

a.button {
  color:darkcyan;
  border-color:darkcyan;
  margin-bottom:15px;
}

a.button:hover {
  filter:drop-shadow(1px 1px 3px #065);
  background:darkcyan;
  color:white;
} 

.content-divider {
  display:none;
}

#intro {
  background-image:url(images/first_image.jpg);
  border-color:yellow;
}

#intro .subtitle {
  max-width:60%;
}

#card2, #card2 .content {
  border-color:yellow;
}

#card2 {
  background-image:url(images/second_image.jpg);
}

#card3, #card3 .content {
  border-color: yellow;
  min-height:500px
}

#card3 {
  background-image:url(images/third_image.jpg);
}

#card4, #card4 .content {
  border-color: yellow;
  min-height: 300px;
}

#card4 {
  background-image:url(images/fourth_image.jpg);
}

#cta {
  border-color: turquoise;
}

#cta {
  background-image:url(img/nasa.jpg);
}

/*#cta .title {
}*/

#cta .content {
/*  border:2px solid rgba(64, 224, 208, 0.2); */
  border:1px solid rgba(120, 180, 180, 0.25);
  padding-top:1rem;
}

.cta-body strong {
  display: block;
  font-size:larger;
  color:#fff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardRow {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.clusterCard {
  width: 300px;
  border: 5px solid lightgreen;
  min-height: 500px;
  padding: 20px;
}

.totalInput{
  padding: 15px;
  padding-right: 10px;
}

.flex{
  display: flex;
}

#parentFlex{
  display: flex;
}

.inline{
  display: inline-block;
}


.order{
  margin: 25px;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr; /*defines the number of columns and column size of the grid*/
  
}


.order .cardx {
  margin: 10px;
  padding: 8px;
}

.cardx{
  width: 400px;
  height: 260px;
  border-color: rgb(0,209,178);
  border-style: dashed;
  background:rgb(255, 255, 100);
  justify-content: space-between, flex-start, ;
  
}

#plusButton{
  /*margin-left: 1190px;*/
  width: 40px;
  height: 40px;
}

.hidden{
  display: none;
}

.star-rating {
  display: flex;
  align-items: center;
  width: 300px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px auto;
  position: center;
}

.star-rating input {
  display: none;
}

.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 100px;
  transition: 0.2s ease;
  color: yellow;
}

.star-rating label:hover {
  color: lightgreen;
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform:scale(2.2);
}

.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

.star-rating input:checked ~ label:before {
  content:'\2605';
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
  font-size: 36px;
  line-height: 21px;
  }
}  

hr.dashed {
  border-top: 3px dashed lightgreen;
}

#wallet {
  background-image:url(images/first_image.jpg);
  border-color:yellow;
}


.submitButton{
  margin-top: 20px;
  margin-left: 289px;
}

#addButton{
  margin-top: 20px;
  margin-left: 310px;
}


